<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szu.refrigerator.mapper.UserTargetMapper">


    <insert id="updateAll">
        insert  into  `user_target` (
            `ut_id` ,
            `target` ,
            `uid` 
        )
        values
        <foreach collection="list" separator="," item="item">
            (
                #{item.ut_id} ,
                #{item.target} ,
                #{item.uid} 
            )
        </foreach>
        on duplicate key  update

        `ut_id`= values(  `ut_id`),
        `target`= values(  `target`),
        `uid`= values(  `uid`)
    </insert>
</mapper>