<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szu.refrigerator.mapper.UserRefrigeratorMapper">


    <insert id="updateAll">
        insert  into  `user_refrigerator` (
            `uid` ,
            `fid` ,
            `fDefault`
        )
        values
        <foreach collection="list" separator="," item="item">
            (
                #{item.uid} ,
                #{item.fid} ,
                #{item.fDefault}
            )
        </foreach>
        on duplicate key  update

        `uid`= values(  `uid`),
        `fid`= values(  `fid`),
        `f_default`= values(  `fDefault`)
    </insert>
</mapper>